/*------------------------------------------- Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Instrument+Sans&family=Roboto:wght@400;700&display=swap');

/*------------------------------------------- Root Variables*/

:root {
    /* Font Variables */
    --titlefont: 'Roboto', sans-serif;
    --bodyfont: 'Lato', sans-serif;
    --specialfont: 'Instrument Sans', sans-serif;

    /* Colour Variables for fonts */
    --colour1: rgb(240, 248, 255);
    --colour2: rgb(128, 128, 128);
    --colour3: rgb(255, 76, 76);
    --colour4: rgb(50, 50, 50);

    /* Colour Variables for NavBars */
    --nav-dark: rgba(128, 128, 128, 0.757);
    --nav-light: rgba(40, 40, 40, 0.26);

    /* Colour Gradient for background */
    --gradient-colour-1: rgb(128, 128, 128);
    --gradient-colour-2: rgb(250, 250, 250);


    /* Horizontal Rulers Colour */
    --hr-colour: rgba(246, 246, 246, 0.377);
}

body,
html {
    font-family: var(--bodyfont);
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(var(--gradient-colour-1), var(--gradient-colour-2));
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

/*------------------------------------------ Navbar ------------------------------------------*/
/* Navbar Toggler For Smaller Screens*/
.navbar-toggler i {
    color: var(--colour1);
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-toggler i:focus {
    box-shadow: none;
}

.navbar {
    width: 100vw;
    margin-bottom: 0;
    border: 0;
    right: 0;
    position: rela;
    z-index: 100;
    padding: 10px;
}

.nav-brand {
    color: var(--colour1);
    font-family: var(--titlefont);
    padding: 10px 0px 0px 10px;
    margin-bottom: 0;
    border: 0;
    position: rela;
    left: 0;
    z-index: 101;
}

.nav-brand:hover {
    text-decoration: none;
    color: var(--colour3);
}

.navbar-nav {
    margin-left: 15px;
}

.nav-link {
    color: var(--colour1);
}

.nav-link:hover {
    color: var(--colour3);
}

.navbar .nav-item.active .nav-link {
    color: var(--colour3);
    text-decoration: underline;
    text-decoration-color: var(--colour3);
    text-decoration-thickness: 2px;
}

hr {
    background-color: white;
    width: 75%;
}

/*------------------------------------------ Gallery -----------------------------------------*/

.gallery-wrapper {
    margin-top: 100px; /* Adjust the value as needed */
  }

.banner {
    font-family: var(--titlefont);
    background: -webkit-linear-gradient(to right, var(--colour4), var(--colour1), var(--colour2));
    background: linear-gradient(to right, var(--colour4), var(--colour1), var(--colour4));
  }



/*------------------------------------------ Footer ------------------------------------------*/

.list-inline {
    margin: 10px 5px;
    color: var(--colour1);
}

.socials-large {
    background-color: var(--nav-dark);
    text-align: right;
}

.custom-envelope {
    cursor: pointer;
}

