/*------------------------------------------ Gallery -----------------------------------------*/

.spacer {
  height: 120px;
}

.gallery-container {
  background: linear-gradient(var(--gradient-colour-1), var(--gradient-colour-2));
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.gallery-item {
  margin-bottom: 20px;
}

.gallery-item img {
  width: 100%;
  border-radius: 5px;
}

.gallery-item .caption {
  font-size: 14px;
  color: var(--colour3);
  margin-top: 5px;
  text-align: center;
}