/*------------------------------------------- Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Instrument+Sans&family=Roboto:wght@400;700&display=swap');

/*------------------------------------------- Root Variables*/

:root {
    /* Font Variables */
    --titlefont: 'Roboto', sans-serif;
    --bodyfont: 'Lato', sans-serif;
    --specialfont: 'Instrument Sans', sans-serif;

    /* Colour Variables for fonts */
    --colour1: rgb(240, 248, 255);
    --colour2: rgb(128, 128, 128);
    --colour3: rgb(255, 76, 76);
    --colour4: rgb(50, 50, 50);

    /* Colour Variables for NavBars */
    --nav-dark: rgba(128, 128, 128, 0.757);
    --nav-light: rgba(40, 40, 40, 0.26);

    /* Colour Gradient for background */
    --gradient-colour-1: rgb(128, 128, 128);
    --gradient-colour-2: rgb(250, 250, 250);


    /* Horizontal Rulers Colour */
    --hr-colour: rgba(246, 246, 246, 0.377);
}

body,
html {
    font-family: var(--bodyfont);
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(var(--gradient-colour-1), var(--gradient-colour-2));
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

/*------------------------------------------ Navbar ------------------------------------------*/
/* Navbar Toggler For Smaller Screens*/
.navbar-toggler i {
    color: var(--colour1);
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-toggler i:focus {
    box-shadow: none;
}

.navbar {
    width: 100vw;
    margin-bottom: 0;
    border: 0;
    right: 0;
    position: fixed;
    z-index: 100;
    padding: 10px;
}

.nav-brand {
    color: var(--colour1);
    font-family: var(--titlefont);
    padding: 8px;
    margin-bottom: 0;
    border: 0;
    position: fixed;
    left: 0;
    z-index: 101;
}

.nav-brand:hover {
    text-decoration: none;
    color: var(--colour3);
}

.navbar-nav {
    margin-left: 15px;
}

.nav-link {
    color: var(--colour1);
}

.nav-link:hover {
    color: var(--colour3);
}

.navbar .nav-item.active .nav-link {
    color: var(--colour3);
    text-decoration: underline;
    text-decoration-color: var(--colour3);
    text-decoration-thickness: 2px;
}

hr {
    background-color: white;
    width: 75%;
}


/*---------------------------------------- Index Page ----------------------------------------*/

.index-title {
    color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    margin-top: 15px;
}

.content {
    padding: 80px;
}

/*----------------------------------------- Carousel -----------------------------------------*/

.center-block {
    float: none;
}

#maya-style {
    width: 200vw;
    height: 100vh;

    /* Fixes default padding issue with carousel */
    padding: 0;
}

.carousel-indicators {
    bottom: initial;
    top: auto;
    margin-top: 1rem;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
}


.c-image1 {
    background-image: url(../media/maya-makeup.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    min-height: 80vh;
}

.c-image2 {
    background-image: url(../media/maya-vogue.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    width: 100vw;
    min-height: 80vh;
}

.c-image3 {
    background-image: url(../media/maya-vogue.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    width: 100vw;
    min-height: 80vh;
}

.c-image4 {
    background-image: url(../media/maya-vogue.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    width: 100vw;
    min-height: 80vh;
}

.c-image5 {
    background-image: url(../media/maya-vogue.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    width: 100vw;
    min-height: 80vh;
}

.c-image6 {
    background-image: url(../media/maya-vogue.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    width: 1100;
    min-height: 500;
}

.carousel-caption {
    position: absolute;
    /* Adjust the distance from the bottom */
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.carousel-indicators {
    bottom: 0;
    margin-bottom: 1rem;
    /* Adjust the distance between captions and indicators */
}

/*-------------------------------------- Industry Work --------------------------------------*/

.card {
    background-color: #353839;
}

.card-body {
    color: antiquewhite;
}

.date {
    color: white;
}

.bg-custom {
    background-color: #D1CDC9;
    border: 3px solid #353839 !important;
}

.btn-timeline {
    color: white;
}

.btn-timeline:hover {
    text-decoration: underline;
    color: #F2F2F2;
}

/*---------------------------- About Page ----------------------------*/

#about-hero {
    background: url(../media/maya-makeup.jpg) no-repeat center top;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#about-text {
    background-color: transparent;
    color: var(--colour1);
    font-size: 1.2em;

    width: 100%;
    min-height: 40vh;
    padding: 25px;
    
    text-align: left;
    justify-content: center;
    align-content: center;
}

.about-title {
    font-family: var(--titlefont);
}

.text-exception {
    color: var(--colour3);
}

#about-accordion a{
    color: var(--colour3);
    font-family: var(--bodyfont);
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
}

/*------------------------------------------ Footer ------------------------------------------*/

.left-footer {
    width: 50vw;
}

.list-inline {
    margin: 10px 5px;
    color: var(--colour1);
}

.socials-large {
    background-color: var(--nav-dark);
    text-align: right;
    width: 50vw;
}

.custom-envelope {
    cursor: pointer;
}


/*------------------------------------------- Modal -------------------------------------------*/
.modal-button {
    cursor: pointer;
}

/* Modal styles */
.modal-backdrop {
    display: none;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 999;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
}

/* Modal content */
.modal-content {
    background-color: #212529;
    color: #FFFFFF;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* CSS for the modal close button */
.close {
    color: white;
    opacity: 1;
    text-shadow: none;
    background: none;
    border: none;
}

.close:hover {
    color: white;
    opacity: 0.75;
}


/* Form group styles */
.form-group {
    display: flex;
    align-items: center;
    width: 100%;
}

/* Label styles */
.form-group label {
    width: 20%;
    text-align: right;
    padding-right: 10px;
}

/* Input and textarea styles */
.form-group input,
.form-group textarea {
    width: 80%;
}

/*--------------------------------------- Media Queries ---------------------------------------*/

@media (max-width: 600px) {
    #carousel {
        width: 100%;
    }

    #carousel img {
        object-fit: contain;
        max-height: 100%;
        width: auto;
    }

    .socials-large li a {
        color: var(--colour1);
    }

    .socials-large li a:hover {
        color: var(--colour3);
    }
}

@media (min-width: 320px) and (max-width: 991px) {
    .navbar {
        background-color: var(--nav-dark);
    }

    #about-hero {
        height: 50vh;
        width: 100vw;
    }

    #about-text {
        width: 100vw;
        padding: 50px 50px;
        align-items: baseline;
        padding-bottom: 80px;
    }

    .left-footer {
        width: 100%;
    }

    .socials-large {
        background-color: transparent;
    }

    .socials-large li i {
        color: var(--colour3);
    }

    .socials-large li i:hover {
        color: var(--colour2);
    }

    .socials-nav li i {
        color: var(--colour3);
    }

    .socials-nav li i:hover {
        color: var(--colour2);
    }
}

@media (min-width: 992px) {
    #about-text {
        height: 100vh;
        width: 50vw;
        padding: 25vh 5vw;
        align-items: center;
        align-content: center;
        overflow: auto;
    }

    #about-accordion {
        overflow-y: scroll;
        overflow: hidden;
    }

    .socials-large li a i {
        color: var(--colour1);
    }

    .socials-large li a i:hover {
        color: var(--colour3);
    }
}