@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


body,
html {
    font-family: 'Courgette', 'sans-serif';
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(rgb(128,128,128), white);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

/** Navbar **/

.active {
    font-weight: bold;
}

.navbar {
    background-color: rgb(128,128,128);
}

.nav-link:hover {
    background-color: rgb(34, 139, 34);
}


/** Footer **/

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
    background:#ccc;
}
  
  .socials {
      text-align: center;
      background-color: rgba(20, 20, 20, .6);
      min-height: 100%;
      min-width: 100%;
      padding: 20px;
      margin-right: 25px;
  }
  
  
  .socials i {
      color: #FF8C00;
      text-align: center;
      font-size: 200%;
  }
  
  .socials i:hover {
      color: #8B0000;
  }