@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


body,
html {
    font-family: 'Courgette', 'sans-serif';
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(rgb(128,128,128), white);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

/** Navbar **/

.active {
    font-weight: bold;
}

.navbar {
    background-color: rgb(128,128,128);
    margin-bottom: 15px;
}

.navbar-brand {
    color: black;
}

.navbar-brand:hover {
    text-decoration: none;
    color: aliceblue;
}

.navbar-toggler-icon {
    color: black;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    background-color: rgb(90, 90, 90);
}


/**  Index Page  **/

.index-title {
    color: aliceblue;
    width: 100%;
    display: inline;
    text-align: center;
}

/** Carousel **/

.center-block {
    float: none;
}

#maya-style {
    width: 200vw;
    height: 100vh;

    /* Fixes default padding issue with carousel */
    padding: 0;
}

.c-image1 {
    background: url(/media/pexels-elviss-railijs-bitāns-1389429.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    width: 100vw;
    min-height: 80vh;
}

.c-image2 {
    background: url(/media/pexels-elviss-railijs-bitāns-1389429.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    width: 100vw;
    min-height: 80vh;
}

.c-image3 {
    background: url(/media/pexels-elviss-railijs-bitāns-1389429.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    width: 100vw;
    min-height: 80vh;
}

.c-image4 {
    background: url(/media/pexels-elviss-railijs-bitāns-1389429.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    width: 100vw;
    min-height: 80vh;
}

.c-image5 {
    background: url(/media/pexels-elviss-railijs-bitāns-1389429.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    width: 100vw;
    min-height: 80vh;
}

.c-image6 {
    background: url(/media/pexels-elviss-railijs-bitāns-1389429.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    width: 100vw;
    min-height: 80vh;
}

.c-image7 {
    background: url(/media/pexels-elviss-railijs-bitāns-1389429.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    width: 100vw;
    min-height: 80vh;
}

/** Industry Work **/

.bg-custom {
    background-color: #D1CDC9;
    border: 3px solid #353839 !important;
}


/** Footer **/

.footer{
    background: rgb(75,75,75);
    max-width: 100vw;
    max-height: 120px;
}

.socials {
    text-align: center;
    padding-left: 0;
    font-size: 200%;
}

.socials i {
    color: white;
    text-align: center;
    padding-top: 35px;
    padding-right: 10px;
}

.socials i:hover {
    color: rgb(175, 175, 175);
}

.dev-link,
.dev-link > a {
    color: aliceblue;
    font-size: 8px !important;
    padding-right: 10px;
}

.dev-link a:hover{
    color: antiquewhite;
}

.modal-contact-dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #353839;
    overflow: auto;
}

.contact-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact-modal {
    position: relative;
    width: 30%;
    height: auto;
    margin: 0 auto;
    padding: 20px 40px 1px 40px;
    top: 25%;
}